body{
  color:black;
  background-color:rgba(58, 223, 164, 0.72);
}
.cambiar{
  font-size:20px;
  font-family: arial helvetica fantasy;
  text-align: left;
  margin-left:100px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right:100px;
  border-color:blue;
  border-top:10px;
  border-left: 5px;
  border-right: 5px;
  border-bottom: 10px;
  border:solid;
  border-width: 5px;
}
.texto{
 font-size:18px;
 font-family: arial helvetica sans-serif;
 padding-top:20px;
 padding-right: 70px;
 padding-bottom:20px;
 padding-left: 80px;

}
#id1{
  text-align: center;
  border:solid;
  border-color:rgb(107, 25, 189);
}
.cambiar{
  background-color:rgb(235, 20, 174);
}
.cam{
  font-family: Arial,Helvetica,sans-serif;
}
